div.header
    h3.text-muted ng lazy load

div.jumbotron
    h1 Lazy loaded list
    ul(lazy-load, lazy-data="newsList", lazy-data-provider="NewsFeedService", lazy-load-method="getNewsList")
        //- we should use class="soon" or class=="in-progress" or class="completed" in the line below
        li(ng-repeat="item in newsList")
            p
                | {{item.text}}

div.footer
    p